{% extends "base.html" %}

{% block content %}
    <form method="POST">
        {{form.hidden_tag()}}
        
        <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Creating New Task</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <!-- <input class="form-control" placeholder="To:"> -->
                    <label>
                        Assign to User:
                    </label>
                    {{form.add_user (class="form-control select2")}}
                </div>

              <div class="form-group">
                <!-- <input class="form-control" placeholder="To:"> -->
                <label>
                    Title:
                </label>
                {{form.name (class="form-control", placeholder="Task Title")}}
                
              </div>

              <div class="form-group">
                <!-- <input class="form-control" placeholder="Subject:"> -->
                <label>
                    Start Date:
                </label>
                
                
                <div class="input-group date" id='datetimepicker1'>
                  <div class="input-group-prepend input-group-addon">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <!-- <input type="datetime" class="form-control float-right" > -->
                  {{form.start_date(class="form-control float-right")}}
                </div>
                
                
              </div>
              {% for i in form.start_date.errors %}
                {{i}}
              {% endfor %}
              <div class="form-group">
                <!-- <input class="form-control" placeholder="Subject:"> -->
                <label>
                    Deadline:
                </label>
                <div class="input-group date" id='datetimepicker2'>
                  <div class="input-group-prepend input-group-addon">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <!-- <input type="datetime" class="form-control float-right" > -->
                  {{form.deadline(class="form-control float-right")}}
                </div>
              </div>

              <div class="form-group">
                <!-- <input class="form-control" placeholder="To:"> -->
                <label>
                    Priority:
                </label>
                <!-- {{form.priority (class="form-control")}} -->
                
                    <!-- {{form.priority}} -->
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="customRadio1" name="priority" value="0" checked>
                        <label for="customRadio1" class="custom-control-label">Low</label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="customRadio2" name="priority" value="1">
                        <label for="customRadio2" class="custom-control-label">Medium</label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="customRadio3" name="priority" value="2">
                        <label for="customRadio3" class="custom-control-label">High</label>
                    </div>
               
            
              </div>

              <div class="form-group">
                <label>
                    Description:
                </label>
                
                  {{form.description(id="compose" )}}
                
              </div>
              
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <div class="float-right">
                
                <!-- <button name="submit" type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Add task</button> -->
                {{form.submit (class="btn btn-primary btn-sm")}}
              </div>
            </div>
            <!-- /.card-footer -->
          </div>

        
    </form>

    
{% endblock %}
  
{% block script_init %}

$('#datetimepicker1').datetimepicker({
    icons: {
        time: "fa fa-clock",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"

    }
    ,format: 'DD-MM-YYYY hh:mm A', useCurrent: false //Important!
});
$('#datetimepicker2').datetimepicker({
    icons: {
        time: "fa fa-clock",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"

    }
    ,format: 'DD-MM-YYYY hh:mm A', useCurrent: false //Important!
});

$("#datetimepicker1").on("dp.change", function (e) {
    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
});
$("#datetimepicker2").on("dp.change", function (e) {
    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
});

{% endblock %}

    


