{% extends "base.html" %}

{% block content %}

{% if is_admin %}

<div class="card card-secondary card-outline">
    <div class="card-header">
      <h3 class="card-title">User Details</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}
      <div class="card-body">


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                {% if form.name.errors %}
                {{form.name(class = 'form-control is-invalid', placeholder = "Name")}}
                {% else %}
                {{form.name(class = 'form-control', placeholder = "Name")}}
                {% endif %}
                {% for i in form.name.errors %}
                <span class="error invalid-feedback">{{i}}</span>
                {% endfor %}
              <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
            </div>
          </div>


        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
              {% if form.email.errors %}
              {{form.email(class = 'form-control is-invalid', placeholder = "Email")}}
              {% else %}
              {{form.email(class = 'form-control', placeholder = "Email")}}
              {% endif %}
              {% for i in form.email.errors %}
              <span class="error invalid-feedback">{{i}}</span>
              {% endfor %}
            <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->

          </div>
        </div>
     
        



      <!-- /.card-body -->
    
          {{form.submit(class = 'btn btn-user')}}
      
      
    </form>

    {% if is_profile_admin %}

    <a href="/remove_admin/{{id}}" class = 'btn btn-user'>Remove Admin</a>

    {% else %}
    <a href="/make_admin/{{id}}" class = 'btn btn-user'>Make Admin</a>
    {% endif %}

  </div>

{% else %}
<div class="card card-secondary card-outline">
  <div class="card-header">
    <h3 class="card-title">User Details</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  
    <div class="card-body">


      <div class="form-group row">
          <label>Name : </label> 
          <div class="col-sm-10">
              {{form.name.data}}
            <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
          </div>
        </div>


      <div class="form-group row">
        <label>Email :</label> 
        <div class="col-sm-10">
            {{form.email.data}}
          
        </div>
      </div>

    <a href="/changepassword" class = 'btn btn-user'>Change Password</a>
</div>


{% endif %}

{% endblock %}
